body{
    padding: 0;
    margin: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: relative;
    background: aqua;
}
.proc
{
    width: 650px;
    box-shadow: 0 0 3px 0 rgba(0,0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    outline: none;
    border-radius: 25px;
}

h3
{
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
}

img
{
    width: 70px;
    margin-top: -50px;
}

.proc p {
    text-align: left;
}
